/* Variables */
/* App */
html, body {
  height: 100%;
  /*font-size: 13px;
  line-height: 1.2em;
  font-family: roboto;*/ }
  html.login-content:before, body.login-content:before {
    background-color: #FFFFFF;
    background-image: url("../media/fondo_inicio.jpg");
    background-size: cover;
    height: 100%; }

#app .sep20 {
  margin-top: 20px; }
#app .sep30 {
  margin-top: 30px; }
#app .sep50 {
  margin-top: 50px; }

#header {
  height: 65px;
  background-color: #160F05;
  padding-top: .3ex;
  padding-bottom: .3ex; }
  #header .div_logo {
    float: left;
    height: 100%; }
    #header .div_logo .logo {
      display: inline-block;
      margin-right: 20px;
      height: inherit; }
      #header .div_logo .logo img {
        height: inherit; }
    #header .div_logo .nombre_app {
      display: inline-block;
      height: 100%;
      font-size: 1.5em;
      /*line-height: 1.2em;*/
      color: #FFFFFF; }
  #header .menu_botones {
    list-style: none;
    float: right;
    height: 100%; }
    #header .menu_botones li {
      display: inline-block;
      float: left; }

	/*	
	.lateral {
		background-color: $negro;

		.logo {

			img { width: 100px; }
		}

		ul {
			list-style: none;
			background-color: #fff;
		
		}
		
	}
	*/
footer {
  /*
  position: absolute;
  bottom: 0;
  */ }

#pruebas {
  background: #6DFF65 none repeat scroll 0 0;
  border-top: 2px solid grey;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  padding: 10px 0;
  color: #160F05;
  font-weight: bold; }

/* Inicio */
.boton_inicio {
  position: relative;
  background: #FFFFFF;
  border-radius: 10px;
  text-align: center;
  margin: 20px 0;
  padding: 2ex;
  box-shadow: 1px 1px 2px #424442;
  font-size: 18px;
  width: 100%; }
  .boton_inicio a {
    color: #160F05; }
    .boton_inicio a span {
      display: block;
      padding-top: .5ex; }

/* LOGIN */
.login .logo-login {
  width: 100%; }

/* LOPD */
.lopd .block-header {
  padding: 20px;
  margin-bottom: 30px;
  background: #160F05; }
  .lopd .block-header h2 {
    color: #FFFFFF; }
.lopd div[id$="extra"] {
  display: none; }
.lopd .div_cif, .lopd .div_telefono {
  /*display: inline-block;*/ }
.lopd .campo {
  /*border: 2px solid gold;*/
  background-color: #FFFFFF;
  border-radius: 7px;
  box-shadow: 0.5px 0.5px 5px #160F05;
  padding-top: 1ex;
  padding-bottom: 1ex;
  margin-top: 1ex;
  margin-bottom: 1ex; }
  .lopd .campo.col-sm-6 {
    width: 48%;
    /*&+ .campo{*/ }
    .lopd .campo.col-sm-6:nth-of-type(even) {
      float: right; }
  .lopd .campo p {
    margin: 1ex 0; }
  .lopd .campo label {
    float: unset;
    text-align: left; }
  .lopd .campo .radio-inline {
    margin-left: 0px;
    padding-left: 15px;
    text-align: center; }
  .lopd .campo .checkbox label {
    margin: 1ex 0; }
    .lopd .campo .checkbox label:first-of-type {
      margin-top: 0; }
  .lopd .campo .checkbox i.input-helper:before {
    border: 1px solid #aa0; }
  .lopd .campo .radio .col-sm-1, .lopd .campo.radio .col-sm-1 {
    margin-left: 5ex; }
  .lopd .campo .radio i.input-helper:before, .lopd .campo.radio i.input-helper:before {
    top: 5px;
    border: 1px solid #aa0; }
  .lopd .campo .radio i.input-helper:after, .lopd .campo.radio i.input-helper:after {
    top: 9px;
    left: 4px; }
  .lopd .campo .radio.col-sm-6 label.control-label, .lopd .campo.radio.col-sm-6 label.control-label {
    padding-left: 15px; }
  .lopd .campo .radio.col-sm-6 .radio, .lopd .campo.radio.col-sm-6 .radio {
    margin-left: 30px; }
  .lopd .campo .radio.col-sm-6 .radio-inline i.input-helper:before, .lopd .campo.radio.col-sm-6 .radio-inline i.input-helper:before {
    left: -10px; }
  .lopd .campo .radio.col-sm-6 .radio-inline i.input-helper:after, .lopd .campo.radio.col-sm-6 .radio-inline i.input-helper:after {
    left: -6px; }
  .lopd .campo .radio input:checked + .input-helper:after, .lopd .campo.radio input:checked + .input-helper:after {
    background: #aa0;
    transform: scale(1.4); }
.lopd #botones_ant_sig {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  clear: both;
  float: left; }

/*# sourceMappingURL=calidad.css.map */
