/* Variables */
	$negro: #160F05;
	$blanco: #FFFFFF;
	$verde_pruebas: #6DFF65;

	$gris_claro: #BEC5C2;
	$gris_oscuro: #424442;

	$verde_ama: #aa0;

	

/* App */

	html, body {
		height: 100%;
		/*font-size: 13px;
		line-height: 1.2em;
		font-family: roboto;*/

		&.login-content:before {

			background-color: $blanco;
			background-image: url('../media/fondo_inicio.jpg');
			background-size: cover;
			height: 100%;
		}
	}

	#app {

		.sep20 {
			margin-top: 20px;
		}

		.sep30 {
			margin-top: 30px;
		}

		.sep50 {
			margin-top: 50px;
		}
	}

	#header {
		height: 65px;
		background-color: $negro;
		padding-top: .3ex;
		padding-bottom: .3ex;

		.div_logo {
			float: left;
			height: 100%;

			.logo {
				display: inline-block;
				margin-right: 20px;
				height: inherit;

				img { height: inherit; }
			}

			.nombre_app {
				display: inline-block;
				height: 100%;
				font-size: 1.5em;
				/*line-height: 1.2em;*/
				color: $blanco;
			}
		}

		.menu_botones {
			list-style: none;
			float: right;
			height: 100%;

			li {
				display: inline-block;
				float: left;
			}
		}
	}

	/*	
	.lateral {
		background-color: $negro;

		.logo {

			img { width: 100px; }
		}

		ul {
			list-style: none;
			background-color: #fff;
		
		}
		
	}
	*/


	footer {
		/*
		position: absolute;
		bottom: 0;
		*/
	}

	#pruebas {

		background: $verde_pruebas none repeat scroll 0 0;
		border-top: 2px solid grey;
		position: fixed;
		bottom: 0;
		width: 100%;
		z-index: 10000;
		text-align: center;
		padding: 10px 0;

		color: $negro;
		font-weight: bold;
	}


/* Inicio */

	.boton_inicio {
		position: relative;
		background: $blanco;
		border-radius: 10px;
		text-align: center;
		margin: 20px 0;
		padding: 2ex;
		box-shadow: 1px 1px 2px $gris_oscuro;
		font-size: 18px;
		width: 100%;
		
		a { 
			color: $negro; 

			span {
				display: block;
				padding-top: .5ex;
			}
		}

	}

/* LOGIN */

.login {

	.logo-login {

		width: 100%;
	}
}

/* LOPD */
.lopd {

	.block-header {
		padding: 20px;
		margin-bottom: 30px;
		background: $negro;

		h2 {
			color: $blanco;
		}
	}


	div[id$="extra"]{

		display: none;
	}

	.div_cif, .div_telefono {

		/*display: inline-block;*/
	}
	
	.campo {

		/*border: 2px solid gold;*/
		background-color: $blanco;
		border-radius: 7px;
		box-shadow: .5px .5px 5px $negro;
		padding-top: 1ex;
		padding-bottom: 1ex;
		margin-top: 1ex;
		margin-bottom: 1ex;

		&.col-sm-6 {
			width: 48%;

			/*&+ .campo{*/
			&:nth-of-type(even), &:nth-of-type(n + 2) {
				float: right;
			}
		}


		p {
			margin: 1ex 0;
		}

		label {
			float: unset;
			text-align: left;
		}

		&.textos {

			.form-group { 
				margin-bottom: 0px;

				label {
					top: -10px;
					text-align: right;
				}
			}
		}

		.text {
			display: inline-block;

			.solo_numero {
				border-bottom: 1px solid $verde_ama;
			}
		}

		.radio-inline { 
			margin-left: 0px;
			padding-left: 15px;
			text-align: center;

		}

		.checkbox {

			label {
				margin: 1ex 0;

				&:first-of-type{ margin-top: 0 };
			}

			i.input-helper {

				&:before{
					border: 1px solid $verde_ama;
				}
			}
		}

		.radio, &.radio {

			.col-sm-1 {
				margin-left: 5ex;
			}

			i.input-helper {
				
				&:before {
					top: 5px;
					border: 1px solid $verde_ama;
				}

				&:after {
					top: 9px;
					left: 4px;
				}
			}

			&.col-sm-6 {

				label.control-label {
					padding-left: 15px;
				}

				.radio {

					margin-left: 30px;
				}
				
				.radio-inline{

					i.input-helper{

						&:before { left: -10px; }

						&:after { left: -6px; }
					}
				}

				.in_bloque {

					display: inline-block;
				}
			}
			
			input:checked + .input-helper:after {
				background: $verde_ama;
				transform: scale(1.4);
			}
			
		}

	}


	#botones_ant_sig {
		width: 100%;
		text-align: center;
		padding: 20px 0;

		clear:both;
		float:left;
	}


}








