/* Variables */
	$negro: #160F05;
	$blanco: #FFFFFF;
	$verde_pruebas: #6DFF65;

	$gris_claro: #BEC5C2;
	$gris_oscuro: #424442;

	

/* App */

	html, body {
		height: 100%;
		/*font-size: 13px;
		line-height: 1.2em;
		font-family: roboto;*/
	}

	#app {

		.sep20 {
			margin-top: 20px;
		}

		.sep30 {
			margin-top: 30px;
		}

		.sep50 {
			margin-top: 50px;
		}
	}

	#header {
		height: 65px;
		background-color: $negro;
		padding-top: .3ex;
		padding-bottom: .3ex;

		.div_logo {
			float: left;
			height: 100%;

			.logo {
				display: inline-block;
				margin-right: 20px;
				height: inherit;

				img { height: inherit; }
			}

			.nombre_app {
				display: inline-block;
				height: 100%;
				font-size: 1.5em;
				/*line-height: 1.2em;*/
				color: $blanco;
			}
		}

		.menu_botones {
			list-style: none;
			float: right;
			height: 100%;

			li {
				display: inline-block;
				float: left;
			}
		}
	}

	/*	
	.lateral {
		background-color: $negro;

		.logo {

			img { width: 100px; }
		}

		ul {
			list-style: none;
			background-color: #fff;
		
		}
		
	}
	*/


	footer {
		/*
		position: absolute;
		bottom: 0;
		*/
	}

	#pruebas {
		background: $verde_pruebas none repeat scroll 0 0;
		border-top: 2px solid grey;
		position: fixed;
		bottom: 0;
		width: 100%;
		z-index: 10000;
		text-align: center;
		padding: 10px 0;

		color: $negro;
		font-weight: bold;
	}

/* Inicio */

	.boton_inicio {
		position: relative;
		background: $blanco;
		border-radius: 10px;
		text-align: center;
		margin: 20px 0;
		padding: 2ex;
		box-shadow: 1px 1px 2px $gris_oscuro;
		font-size: 18px;
		width: 100%;
		
		a { 
			color: $negro; 

			span {
				display: block;
				padding-top: .5ex;
			}
		}

	}

/* LOPD */
.lopd {

	.block-header {
		padding: 20px;
		margin-bottom: 30px;
		background: $negro;

		h2 {
			color: $blanco;
		}
	}

	/*div[id^="extra"]{*/
	div#tipo_extra {

		display: none;
	}

	input[name="tipo_sino"]:visited {
		color: blue;
	}

	.campo {

		/*border: 2px solid gold;*/
		border-radius: 10px;
		box-shadow: 1px 1px 3px $negro;
		padding-top: 1ex;
		padding-bottom: 1ex;
		margin-top: 1ex;
		margin-bottom: 1ex;


		p {
			margin: 1ex 0;
		}

		label {
			float: unset;
			text-align: left;
		}

		.radio-inline { 
			margin-left: 0px;
			padding-left: 15px;
			text-align: center;

		}

		.checkbox label {
			margin: 1ex 0;

			&:first-of-type{ margin-top: 0 };


		}

	}

	#botones_ant_sig {
		width: 100%;
		text-align: center;
		padding: 20px 0;

		clear:both;
		float:left;
	}


}








