/* Variables */
	$negro: #160F05;

/* App */

	.superior {
		height: 50px;
		background-color: $negro;

		ul {
			list-style: none;
		}


	}

	.lateral {
		background-color: $negro;

		.logo {

			img { width: 100px; }
		}

		ul {
			list-style: none;
			background-color: #fff;
		
		}
		
	}
