<?xml version="1.0" encoding="UTF-8"?>


<phpunit bootstrap="vendor/autoload.php"
         verbose="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         colors="true">

    <testsuites>
        <testsuite name="XStrings Test Suite">
            <directory>tests/</directory>
            <!-- <directory>tests/XString/</directory> -->
            <!-- <directory>tests/entidades/</directory> -->
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-html" target="./cobertura/cobertura.html"/>
    </logging>

    <php>
        <!-- <var name="DB_DSN" value="mysql:host=localhost;dbname=clientes"/> -->
        <!-- <var name="DB_HOST" value="localhost"/> -->
        <var name="DB_HOST" value="127.0.0.1"/>
        <var name="DB_USER" value="root"/>
        <var name="DB_PASS" value="" />
        <var name="DB_NAME" value="oclemcalidad_bbdd" />
    </php>

    <filter>
        <whitelist>
            <directory suffix=".php">lib/</directory>
            <!-- <directory suffix=".php">src/MasTest/</directory> ¿Inutil? -->
        </whitelist>
    </filter>


</phpunit>