/*==================================================
find and replace below code to change color

#d33e66 - red
#4a86b8 - blue
#3bae98 - green
#9d7f48 - brown
#665590 - purple
#010101 - dark preloader background
#fefefe - dark preloader element
#f8fafa - white preloader background
#565656 - white preloader element
rgba(0, 0, 0, 0.6)       - dark overlay
rgba(255, 255, 255, 0.82) - light overlay
==================================================*/
/*==================================================
dark
==================================================*/
.dark #preloader {
  /* preloader background */
  background-color: #010101;
}
.dark .ball-scale-ripple-multiple > div {
  /* preloader element */
  border-color: #fefefe;
}
.dark #overlay {
  /* overlay background */
  background-color: rgba(0, 0, 0, 0.6);
}
/*==================================================
light
==================================================*/
.light #preloader {
  /* preloader background */
  background-color: #f8fafa;
}
.light .ball-scale-ripple-multiple > div {
  /* preloader element */
  border-color: #565656;
}
.light #overlay {
  /* overlay background */
  background-color: rgba(255, 255, 255, 0.82);
}
/*==================================================
red
==================================================*/
.red .color {
  /* theme color */
  color: #d33e66;
}
.red .btn-theme {
  /* theme button */
  color: #ffffff;
  background-color: #d33e66;
  border-color: #d33e66;
}
.red .btn-theme.border {
  color: #d33e66;
  background-color: transparent;
  border-color: #d33e66;
}
.red .btn-theme:hover,
.red .btn-theme:focus,
.red .btn-theme.focus,
.red .btn-theme:active,
.red .btn-theme.active,
.open > .dropdown-toggle.red .btn-theme {
  color: #d33e66;
  background-color: transparent;
  border-color: #d33e66;
}
.red .btn-theme.border:hover,
.red .btn-theme.border:focus,
.red .btn-theme.border.focus,
.red .btn-theme.border:active,
.red .btn-theme.border.active,
.open > .border.dropdown-toggle.red .btn-theme.border {
  color: #ffffff;
  background-color: #d33e66;
  border-color: #d33e66;
}

/*==================================================
green
==================================================*/
.green .color {
  /* theme color */
  color: #3bae98;
}
.green .btn-theme {
  /* theme button */
  color: #ffffff;
  background-color: #3bae98;
  border-color: #3bae98;
}
.green .btn-theme.border {
  color: #3bae98;
  background-color: transparent;
  border-color: #3bae98;
}
.green .btn-theme:hover,
.green .btn-theme:focus,
.green .btn-theme.focus,
.green .btn-theme:active,
.green .btn-theme.active,
.open > .dropdown-toggle.green .btn-theme {
  color: #3bae98;
  background-color: transparent;
  border-color: #3bae98;
}
.green .btn-theme.border:hover,
.green .btn-theme.border:focus,
.green .btn-theme.border.focus,
.green .btn-theme.border:active,
.green .btn-theme.border.active,
.open > .border.dropdown-toggle.green .btn-theme.border {
  color: #ffffff;
  background-color: #3bae98;
  border-color: #3bae98;
}

/*==================================================
blue
==================================================*/
.blue .color {
  /* theme color */
  color: #4a86b8;
}
.blue .btn-theme {
  /* theme button */
  color: #ffffff;
  background-color: #4a86b8;
  border-color: #4a86b8;
}
.blue .btn-theme.border {
  color: #4a86b8;
  background-color: transparent;
  border-color: #4a86b8;
}
.blue .btn-theme:hover,
.blue .btn-theme:focus,
.blue .btn-theme.focus,
.blue .btn-theme:active,
.blue .btn-theme.active,
.open > .dropdown-toggle.blue .btn-theme {
  color: #4a86b8;
  background-color: transparent;
  border-color: #4a86b8;
}
.blue .btn-theme.border:hover,
.blue .btn-theme.border:focus,
.blue .btn-theme.border.focus,
.blue .btn-theme.border:active,
.blue .btn-theme.border.active,
.open > .border.dropdown-toggle.blue .btn-theme.border {
  color: #ffffff;
  background-color: #4a86b8;
  border-color: #4a86b8;
}

/*==================================================
brown
==================================================*/
.brown .color {
  /* theme color */
  color: #9d7f48;
  /* theme color */
}
.brown .btn-theme {
  /* theme button */
  color: #ffffff;
  background-color: #9d7f48;
  border-color: #9d7f48;
}
.brown .btn-theme.border {
  color: #9d7f48;
  background-color: transparent;
  border-color: #9d7f48;
}
.brown .btn-theme:hover,
.brown .btn-theme:focus,
.brown .btn-theme.focus,
.brown .btn-theme:active,
.brown .btn-theme.active,
.open > .dropdown-toggle.brown .btn-theme {
  color: #9d7f48;
  background-color: transparent;
  border-color: #9d7f48;
}
.brown .btn-theme.border:hover,
.brown .btn-theme.border:focus,
.brown .btn-theme.border.focus,
.brown .btn-theme.border:active,
.brown .btn-theme.border.active,
.open > .border.dropdown-toggle.brown .btn-theme.border {
  color: #ffffff;
  background-color: #9d7f48;
  border-color: #9d7f48;
}

/*==================================================
purple
==================================================*/
.purple .color {
  /* theme color */
  color: #665590;
  /* theme color */
}
.purple .btn-theme {
  /* theme button */
  color: #ffffff;
  background-color: #665590;
  border-color: #665590;
}
.purple .btn-theme.border {
  color: #665590;
  background-color: transparent;
  border-color: #665590;
}
.purple .btn-theme:hover,
.purple .btn-theme:focus,
.purple .btn-theme.focus,
.purple .btn-theme:active,
.purple .btn-theme.active,
.open > .dropdown-toggle.purple .btn-theme {
  color: #665590;
  background-color: transparent;
  border-color: #665590;
}
.purple .btn-theme.border:hover,
.purple .btn-theme.border:focus,
.purple .btn-theme.border.focus,
.purple .btn-theme.border:active,
.purple .btn-theme.border.active,
.open > .border.dropdown-toggle.purple .btn-theme.border {
  color: #ffffff;
  background-color: #665590;
  border-color: #665590;
}